<!DOCTYPE html>
<html>

<head>

    <title>Snake & Ladder Pro</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>🐍 Snake & Ladder Pro 🪜</h1>

        <h2>
            C Backend + Flask Frontend
        </h2>

        <div class="player-card">

            <h3>Features</h3>

            <p>✅ Two Players</p>
            <p>✅ Dice Rolling</p>
            <p>✅ Snakes & Ladders</p>
            <p>✅ C Backend</p>
            <p>✅ Flask Frontend</p>
            <p>✅ BFS Minimum Moves</p>

        </div>

        <br>

        <a href="/game">

            <button id="rollBtn">
                Start Game
            </button>

        </a>

    </div>

</body>

</html>